form {
  margin: 20px 0;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filmName{
  padding:10px;
  margin-right:10px;
  margin-bottom:10px;
}
.frame {
  width: 400px;
}
.header {
  display: inline;
  text-align: center;
}
.list-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.button {
  padding:3px;
  background: lightblue;
}